.cropOverlayPI,
.cropOverlayBI {
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  background: rgba(49, 49, 49, 0.8);
  z-index: 10;
}

.einrichtungFileInputPI,
.einrichtungFileInputBI {
  display: none;
}

.cropPI,
.cropBI {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 500px;
  height: max-content;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 0.4em;
  z-index: 15;
}

.cropperPI,
.cropperBI {
  width: 500px;
  margin-bottom: 1em;
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
}

.cropUploadBtn,
.stopCrop {
  text-align: center;
  margin: 0.2em 0 0 0;
  background-color: white;
  border: none;
  width: 8em;
  height: 2.2em;
  padding: 0;
  font-size: 1.2em;
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

.cropUploadBtn {
  color: rgb(0, 105, 0);
}

.cropUploadBtn:hover {
  color: rgb(18, 204, 18);
  opacity: 1;
}

.stopCrop {
  color: lightcoral;
}

.stopCrop:hover {
  color: coral;
  opacity: 1;
}

@media (max-width: 800px) {
  .cropPI,
  .cropBI {
    width: 460px;
    top: 38%;
    left: 50%;
  }

  .cropUploadBtn,
  .stopCrop {
    margin: 0.2em 0 0 0;
    width: 8em;
    height: 2.2em;
    padding: 0;
    font-size: 1.1em;
  }
}

@media (max-width: 520px) {
  .cropPI,
  .cropBI {
    width: 92%;
    top: 31%;
    left: 50%;
  }

  .cropUploadBtn,
  .stopCrop {
    margin: 0.2em 0 0 0;
    width: 8em;
    height: 2.2em;
    padding: 0;
    font-size: 1.05em;
  }
}
